#gridView {
  max-width: 21cm; /* Longueur de feuille A4 */
  margin: 3px;
}

#words {
  border-style: solid;
  border-width: 1px;
}

#words .word {
  font-family: Arial;
  font-size: 16px;
  color: black;
}

#words ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#gridView .btn {
    background-color: DodgerBlue;
    color: white;
    border-radius: 50%;
    padding: 10px 15px 10px 15px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 22px;
}

#gridView .btn:hover {
  background-color: RoyalBlue;
}