<div *ngIf="!grid">
  <p>Impossible de générer la grille...</p>
</div>
<div *ngIf="grid" id="gridView">
  <div class="position-absolute top-0 end-0 d-print-none">
    <button (click)="regenerateGrid()" class="btn">
      <i class="bi bi-arrow-clockwise"></i>
    </button>
    <button routerLink="/grid-configuration" class="btn">
      <i class="bi bi-gear-fill"></i>
    </button>
  </div>
  <canvas #gridCanvas></canvas>
  <div class="container-fluid">
    <div class="row row-cols-6" id="words">
      <!-- <div *ngFor="let word of grid.words.sort()" class="col">  
        <span class="word">{{word}}</span>
      </div> -->
      <div *ngFor="let wordSublist of getWordSublists(6)" class="col">
        <ul>
          <li *ngFor="let word of wordSublist">
            <span class="word">
              <!-- <i class="bi bi-square"></i>   -->
              {{word}}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
